<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <include file="$(find mower_bot)/launch/robot_description.launch"/>

  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mower_bot)/worlds/jackal_race.world"/>  <!-- jackal_race, open_space.world  -->
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--spawn a robot in gazebo world-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
  output="screen" args="-urdf -param robot_description -model mower_bot"/>

  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mower_bot)/launch/Rvizconfig.rviz"/>

</launch>
